html {
  font-family: "Lato-Bold";
  font-size: 16px;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
}

ul, li, h1, h2, h3, h4, p, img, a,
input, label, button, address {
  margin: 0;
  padding: 0;
}
 
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1.125rem;
  font-weight: normal;
  text-transform: uppercase;
}

p {
  color: #848789;

}

.wrapper {
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}


header {
  min-height: 800px;
}

main {
  min-height: 4000px;
}

footer {
  min-height: 250px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix:after {
  content: " ";
  width: 100%;
  clear: both;
  display: table;
}

.arrow-class:after {
  content: " ";
  position: absolute;
  top: -1px;
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top: 11px solid #fff;
}

.arrow-class-top:after {
  left: 50%;
  transform: translateX(-50%);
  border: 15px solid transparent;
  border-top: 11px solid #fff;

}

